body{
font-family: Arial, Helvetica, sans-serif;
margin: 2rem;
color: #000000;  

}

/*Nav*/

.nav ul li{
display: inline-grid;
grid-auto-flow: column;
margin: 1rem;
list-style: none;
}

.nav ul{
    background-color: orange;
    border: solid 2px black;
}

a{
    text-decoration: none;
}

a:hover{
    color: yellow;
}

/*main*/

.main{
  display: grid;
  grid-template-columns: repeat(2,1fr);
}

.main section{
    margin: 1rem;
    padding: 1rem;
     border: solid 2px black;
     background-color: yellowgreen;
}

/*footer*/
#Contacts{
display: grid;
grid-template-columns: repeat(auto-fit, minmax(800px, 1fr));
border: solid 2px black;
padding: 2rem;
background-color: antiquewhite;
}
